treechildren::-moz-tree-image(modules_bookmarks_bookmark){
	list-style-image: url(/changeicons/small/bookmark.png);
}
treechildren::-moz-tree-image(modules_bookmarks_category){
	list-style-image: url(/changeicons/small/category.png);
}
treechildren::-moz-tree-image(modules_bookmarks_categoryfolder){
	list-style-image: url(/changeicons/small/category-folder.png);
}
treechildren::-moz-tree-image(modules_bookmarks_treefolder){
	list-style-image: url(/changeicons/small/bookmark-folder.png);
}